<div class="left-side-bar">
    <div class="brand-logo">
        <a href="index.html">
            <img src="../../assets/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
            <img src="../../assets/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                
                <li>
                    <a href="/manager_home" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-home"></span><span class="mtext">Dashboard</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-edit"></span><span class="mtext">Create</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/manager_home/product">Product List</a> |</li>
                        <li><a href="/manager_home/eventinfo">Campaign</a> |</li>
                        
                       
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-list"></span><span class="mtext">Team Member List</span>
                    </a>
                    <ul class="submenu">
                        
                        <li><a href="/manager_home/employee">Employee</a></li>
                        <!--<li><a href="/supAdmin_home/admin">Admin</a> |</li>-->
                       
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        
                        <span class="micon dw dw-user"></span><span class="mtext">Customer</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/manager_home/customer">Customer</a></li>
                        
                       
                        <!--<li><a href="/manager_home/feedbacks">Feedbacks</a> |</li>
                        <li><a href="/manager_home/verification">Verification</a> |</li>-->
                       
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-view"></span><span class="mtext">View</span>
                    </a>
                    <ul class="submenu">
                        <a href="/manager_home/leads" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-list"></span><span class="mtext">Leads List</span>
                        </a>
                        
                       
                    </ul>
                </li>

               
                <!-- <li>
                    <a href="/supAdmin_home/meeting" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-calendar1"></span><span class="mtext">Meeting</span>
                    </a>
                </li> -->
               
                <li>
                    <a href="/manager_home/template" class="dropdown-toggle no-arrow">
                        <i class="micon dw dw-edit"></i><span class="mtext">Edit Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/manager_home/financial" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-exit"></span><span class="mtext">Log Out</span>
                    </a>
                </li>
               
            </ul>
        </div> 
    </div>
</div>
<div class="mobile-menu-overlay"></div>